body {
  background: #000000;
}

#header {
    background: #001122;
    font-family:"Roboto", sans-serif;
    text-align: center;
    padding-bottom: 5px;
    animation-name: topFadeOut;
    animation-duration: 3s;
}


@keyframes topFadeOut {
  0% {
    position: relative;
    top: -3rem;
    opacity: 0;
  }

  100% {
    position: relative;
    top: 0rem;
    opacity: 1;
  }
}

.info {
  opacity: 0;
  font-family:"Roboto", sans-serif;
  color: white;
  font-size: 1em;
  animation-name: topFadeOut;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#mapid {
  opacity: 0;
  width: 400px;
  height:300px;
  position: relative;
  animation-name: topFadeOut;
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

h1{
  margin-bottom: 0px;
  padding-top: 10px;
  font-weight:200;
  font-size: 6em;
  color: white;
}

h2 {
  margin-top: 5px;
  padding-bottom: 5px;
  color: #114355;
}

input[type=date]{
  color: #95b6b7;
  font-family: "Roboto";
  font-size: 12px;
  background:#ecf0f1;
  padding:2px;
}

input[type=date]:hover{
  color: #001122;
  border-bottom:2px solid #ECF0F1;
}
