body {
    background-color: #eeeeee;
    margin: 0;
    overflow: hidden;
}

form {
  padding: 10px;
  position: absolute;
  bottom: 0px;
  margin-left: 28%;
}
form input {
  padding: 5px;
  margin-right: 10px;
}

label {
  margin-left: 30px;
  padding-right: 3px;
  font-family: "Lato", "Times", sans-serif;
}

#map {
    width: 400px;
    height: 400px;

    display: block;
}

.graticule {
    fill: none;
    stroke: #0053ad;
    stroke-width: 1px;
}

.globe {
    fill: #060052;
}

.star {
    fill: #ffffff;
    fill-opacity: 0.9;
}

.overlay {
    fill: #005fc7;
    fill-opacity: 0.4;
}
